* {
            padding: 0;
            margin: 0;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            letter-spacing: 1px;
            box-sizing: border-box;
        }

        html {
            width: 100%;
            height: 100vh;
        }

        body {
            height: 100vh;
            width: 100%;
            -webkit-text-size-adjust: 100%;
        }

        header,
        footer {
            display: grid;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            min-height: 15%;
            background: cyan;
        }


        .header-inner,
        .footer-inner {
            display: grid;
            grid-template-columns: fit-content(50%) 50%;
            justify-content: space-between;
            min-height: 35%;
            width: 100%;
            align-items: center;
            padding: 25px 25px;
        }

        .footer-inner {
            flex-direction: row-reverse;
        }

        .text-left {
            flex-direction: row-reverse;
            padding: 25px;
            display: flex;
            min-width: 10%;
            max-height: 100%;
            max-width: 100%;
            border: 1px solid black;
            background: white;
        }

        .text-right {
            width: 100%;
        }

        .content {
            display: grid;
            grid-template-columns: 20% 10% 20% 10% 40%;
            border: 1px solid black;
            border-top: none;
            min-height: 70%;

		}

		.content > div {
			outline: 1px solid black;
		}

		.content-section {
			display: grid;
			grid-template-columns: 1fr .5fr 1fr;
			grid-template-rows: 1fr 4fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}

		.content-section > div {
			outline: 1px solid black;
		}

        .section-block1 {
            display: grid;
			grid-area: 1 / 1 / 2 / 4;
			text-align: center;
            align-items: center

		}
		section-block1 > p {
			margin-top: 15px;
		}
		.section-block2 {

			grid-area: 2 / 1 / 3 / 2;
		}

		.section-block3 {
			grid-area: 2 / 2 / 3 / 3;
		}

		.section-block4 {
			grid-area: 2 / 3 / 3 / 4;
		}
		.content img {
			width: 100%;
			height: 100%;
		}

		.menu {
		background: lightgoldenrodyellow;
		text-align: left; /* Вирівнювання тексту в лівому центрі */
		padding: 20px;
		}

		.menu h3 {
			margin-top : 40%;
			padding: 0;
			font-size: 32px;
            margin-bottom: 10px;
			color: #333; /* Чорний колір тексту */
		}

		.menu ul {
			padding: 0;
			list-style: none;
			margin-top: 0px;
			display: inline-block; /* Зробити меню блоком inline-block */
		}

		.menu li {
			margin-bottom: 10px;
		}

		.menu li:last-child {
			margin-bottom: 0; /* Виправляє відступ для останнього елемента списку */
		}

		.menu a {
			text-decoration: none;
			font-size: 18px;
			color: #333; /* Чорний колір тексту */
			transition: color 0.3s; /* Плавна зміна кольору тексту при наведенні */
		}

		.menu li:hover {
			font-weight: bold; /* Зміна товщини шрифту при наведенні курсору */
            margin-left: 10px;

		}

        .menu li:hover a {
			color: #007BFF; /* Зміна кольору тексту при наведенні курсору */
        }
        img {

           width: 100%;
            height: 100%;
            object-fit: contain;
        }